:root{
    --backgroundcolor:#029791;
    --itemCONcolor:#17273d;
    --downBoxcolor:#17273d;
    --itemcolor: #3d5872;
    --itembordercolor:transparent;
    --itemTextcolor:snow;
    --boxShadowcolor:#00fff7;
    --buttonColors:#17273d;
    --btntextcolor:#b7ada1;
    --btnborder:#00fff7;
    --containerWidth:400px;
    --containerHeigth:400px;
}

body{
    display: grid;
    grid-template-columns: 1fr 1fr 320px;
    grid-template-rows: 48px 48px 1fr  ;
    justify-items: center;
    align-items: center;

    background-color: var(--backgroundcolor);
    row-gap: 32px;
}
header{
    grid-column: 1/4;
}

 .false{
color: black;
grid-column: 1/4;
    }
.true{

}
/* .dragItemContainer{
    
display: flex;
box-sizing: border-box;

column-gap: 24px;
align-items: center;
justify-content: space-around;
flex-wrap: wrap;
height: var(--containerHeigth);

background-color: var(--itemCONcolor);
box-shadow: 0px 0px 10px 5px var(--boxShadowcolor);
width: var(--containerWidth);
border-radius: 16px;
} */
.dragItemContainer{
    
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(4,1fr);
box-sizing: border-box;
place-items: center;

height: var(--containerHeigth);

background-color: var(--itemCONcolor);
box-shadow: 0px 0px 10px 5px var(--boxShadowcolor);
width: var(--containerWidth);
border-radius: 16px;
}
    .downPlace{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(4,1fr);
        box-sizing: border-box;
        place-items: center;
        height: var(--containerHeigth);
        background-color: var(--downBoxcolor);
        box-shadow: 0px 0px 10px 5px var(--boxShadowcolor);
        width: var(--containerWidth);
        border-radius: 16px;
        }

.drg{
    box-sizing: border-box;
    list-style: none;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* vertical-align: middle; */
   background-color: var(--itemcolor);
    font-size: 48px;
    color:var(--itemTextcolor);
    border-radius: 16px;
    cursor: pointer;
    border: 4px solid var(--itembordercolor);
    }



.checkBTN{ 
    color: var(--btntextcolor);
    text-transform: capitalize;

 width: 160px;
 height: 48px;
/* align-self: end; */
cursor: pointer;
background-color: var(--buttonColors) ;
font-size: large;
 border-radius: 10px;
border: 0;
 transition: transform 0.2s ease;
}

.checkBTN:hover{
     border: 2px solid var(--btnborder);

}

.checkBTN:active{
    transform: scale(0.9);
}

.btns{
    color: var(--btntextcolor);
    text-transform: capitalize;
 
    width: 160px;
    height: 48px;
    background-color: var(--buttonColors) ;
   /* align-self: center; */
   cursor: pointer;
   font-size: large;
    border-radius: 10px;
   border: 0;
    transition: transform 0.2s ease;}
    .btns:hover{
        border: 2px solid var(--btnborder);
    
    }

    .btns:active{
        transform: scale(0.9);
    }
.btnbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}