:root{
    --backgroundcolor:#029791;
    --itemCONcolor:#17273d;
    --downBoxcolor:#17273d;
    --itemcolor: #3d5872;
    --itembordercolor:transparent;
    --itemTextcolor:snow;
    --boxShadowcolor:#00fff7;
    --buttonColors:#17273d;
    --btntextcolor:#b7ada1;
    --btnborder:#00fff7;
    --containerWidth:480px;
    --containerHeigth:96px;
}

body{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 48px 1fr  1fr 48px 48px 96px;
    justify-items: center;
    align-items: center;

    background-color: var(--backgroundcolor);
    row-gap: 32px;
}

 .false{
color: black;

    }
.true{

}
.dragItemContainer{
    /* justify-self: end; */
display: flex;
box-sizing: border-box;
padding-left: 32px;
column-gap: 32px;
align-items: center;
height: var(--containerHeigth);
/* flex-direction: column; */
background-color: var(--itemCONcolor);
box-shadow: 0px 0px 10px 5px var(--boxShadowcolor);
width: var(--containerWidth);
border-radius: 16px;
}
    .downPlace{
        display: flex;
        box-sizing: border-box;
        padding-left: 32px;
        column-gap: 32px;
        align-items: center;
        height: var(--containerHeigth);
        /* flex-direction: column; */
        background-color: var(--downBoxcolor);
        box-shadow: 0px 0px 10px 5px var(--boxShadowcolor);
        width: var(--containerWidth);
        border-radius: 16px;
        }

.drg{
    box-sizing: border-box;
    list-style: none;
    width: 80px;
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: center;
    /* vertical-align: middle; */
   background-color: var(--itemcolor);
    font-size: 48px;
    color:var(--itemTextcolor);
    border-radius: 16px;
    cursor: pointer;
    border: 4px solid var(--itembordercolor);
    }



.checkBTN{ 
    color: var(--btntextcolor);
    text-transform: capitalize;
grid-column: 1 / 3;
 width: 160px;
 height: 48px;
/* align-self: end; */
cursor: pointer;
background-color: var(--buttonColors) ;
font-size: large;
 border-radius: 10px;
border: 0;
 transition: transform 0.2s ease;
}

.checkBTN:hover{
     border: 2px solid var(--btnborder);

}

.checkBTN:active{
    transform: scale(0.9);
}

.reset{
    color: var(--btntextcolor);
    text-transform: capitalize;
    grid-column: 1 / 3;
    width: 160px;
    height: 48px;
    background-color: var(--buttonColors) ;
   /* align-self: center; */
   cursor: pointer;
   font-size: large;
    border-radius: 10px;
   border: 0;
    transition: transform 0.2s ease;}
    .reset:hover{
        border: 2px solid var(--btnborder);
    
    }

    .reset:active{
        transform: scale(0.9);
    }
.reGenerate{
    align-self: start;
}